@font-face {
	font-family: "FranklinGothicPro";
	src: url(fonts/FRADM.TTF);
	}
@font-face {
	font-family: "FranklinGothic";
	src: url(fonts/franklin-gothic-book.ttf);
	}
.container {
	position:relative;
	width:100%;
	min-width:none;
	max-width:none;
	box-sizing:border-box;
}
.center {
	display: flex;
  	justify-content: center;
 	align-items: center;
}
.sidebar {
	max-width:1600px;
	margin:0px auto;
}
.subcontainer { 
	max-width:1600px;
	position:relative;
	margin:5px auto;
}
.grid_container {
	max-width:1600px;
	position:relative;
	margin:5px auto;
	display:grid;
	grid-gap:0px;
	align-items:center;
	align-content: space-evenly;
	justify-items:center;
	justify-content: space-evenly;
}
.background { 
	background-color:#FFFFFF;
}
.background2 {
	background-color:rgba(33.00000183284283, 101.00000157952309, 130.0000074505806, 0.4000000059604645);
}
.left_text{	
	position:relative;
	margin:5px auto;
	font-family:"FranklinGothic";
	text-align:left;
	line-height: 1.5;
	letter-spacing:0;
}
.center_text{	
	position:relative;
	margin:5px auto;
	font-family:"FranklinGothic";
	text-align:center;
	line-height: 1.5;
	letter-spacing:0;
}
.right_text{
	position:relative;
	margin:5px auto;
	font-family:"FranklinGothic";
	text-align:right;
	line-height: 1.5;
	letter-spacing:0;
}
.title {
	color:#1C1D1E;
	font-family: "FranklinGothicPro";
	font-size: 1.8em;
	font-weight: 700;
    line-height: 1.2;
	display:block;
}
.subtitle { 
	color:#070D1E;
	display:block;
	font-size:21px;
}
.bodytext { 
	color:#070D1E; 
	display:block;
	font-size:18px;
}
.inline_title {
	color:#070D1E;
	font-size:25px;
	margin:15px auto
}
.inline_subtitle {
	color:#070D1E; 
	display:inline-block;
	font-size:21px;
	text-align:center;
}
.inline_bodytext {
	color:#070D1E;
	display:inline-block;
	font-size:18px;
}
.neighborhood_drop {
	position:relative;
	display: block;
	align-items:center;
	align-content: space-evenly;
	justify-items:center;
	justify-content: space-evenly;
}
.hover_property_row {
    align-items: center;
    color: #4a4a4a;
    display: flex;
    margin: 0;
}
.hover_property_row_space_between {
    justify-content: space-between;
}
.hover_property_row_flex {
    align-items: center;
    display: flex;
    padding: 0 10px;
}
.hover_property_row_header {
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    padding: 10px;
    position: absolute;
    text-transform: capitalize;
    top: 0;
    width: 100%;
	font-family:"FranklinGothic";
}
.hover_property_row_header>span {
    align-items: center;
    background: hsla(0,0%,100%,.75);
    border-radius: 15px;
    display: inline-flex;
    height: 27px;
    padding: 4px 10px 4px 5px;
}
.hover_window_statistics {
    background: #f7f8fa;
    display: flex;
    margin-top: 5px;
    position: relative;
	font-family:"FranklinGothic";
}
.hover_window_statistics_timeframe {
    align-items: center;
    background: #fff;
    border: 1px solid #d8d5d5;
    border-radius: 15px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 11px;
    font-weight: 600;
    justify-content: center;
    left: 0;
    margin: auto;
    max-width: 105px;
    padding: 3px 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -12px;
    z-index: 10;
}
.hover_window_statistics_item {
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    color: #4a4a4a;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: relative;
    text-align: center;
}
.hover_window_statistics_value {
    -webkit-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    font-kerning: none;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
	font-family:"FranklinGothic";
}
.hover_window_statistics_title {
    font-size: 12px;
    font-weight: 400;
	font-family:"FranklinGothic";
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#qol_map .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#afford_map .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#results_map .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#census_city_plot .js-plotly-plot .plotly .modebar {
    left: 94%;
}
#history_price_city_plot .js-plotly-plot .plotly .modebar {
    left: 95%;
}
#history_quant_city_plot .js-plotly-plot .plotly .modebar {
    left: 95%;
}
#airbnb_map .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#census_neighborhood_plot .js-plotly-plot .plotly .modebar {
    left: 94%;
}
#neighborhood_price_history_plot .js-plotly-plot .plotly .modebar {
    left: 4%;
}
#neighborhood_quant_history_plot .js-plotly-plot .plotly .modebar {
    left: 4%;
}
#nbc_history_plot .js-plotly-plot .plotly .modebar {
    left: 4%;
}
#nbc_0_ind .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_1_ind .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_0_age .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_1_age .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_0_race .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_1_race .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_0_income .js-plotly-plot .plotly .modebar {
    left: 0%;
}
#nbc_1_income .js-plotly-plot .plotly .modebar {
    left: 0%;
}
.grid_ages {
	display: grid;
  	grid-template-areas: 
  		"elem1 . elem2 elem3 .";
	grid-template-columns: 6fr 1fr 2fr 2fr 1fr;
	max-width:1600px;
	margin:5px auto;
	align-items:center;
	justify-items:center;
}
.elem1 {
  grid-area: elem1;
}
.elem2 {
  grid-area: elem2;
}
.elem3 {
  grid-area: elem3;
}
.header_links_text {
	position:relative;
	margin:0px auto;
	font-family: "FranklinGothicPro";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-transform: uppercase;
	text-align:left;
	vertical-align: middle;
}
.links_text {
	display:block;
	font-size:18px;
	color:#7c4375;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 2px solid #e96a26;
}
.inline_links {
	display:inline-block;
	margin-left: 0.4em;
	font-size:18px;
	color:#7c4375;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 2px solid #e96a26;
}
.inline_sublinks {
	display:inline-block;
	margin-right: 0.4em;
	font-size:21px;
	text-align: center;
	color:#7c4375;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 2px solid #e96a26;
}
.header_links_text:hover {
	color: #515151;
}
.links_text:hover {
	color: #070D1E;
}
.inline_links:hover {
	color: #070D1E;
}
.inline_sublinks:hover {
	color: #070D1E;
}
.dd_elem1 {
	grid-area: dd_elem1;
  }
.dd_elem2 {
	grid-area: dd_elem2;
}
.grid_dd {
	display: grid;
  	grid-template-areas: 
  		"dd_elem1 dd_elem2 .";
	grid-template-columns: 1fr 1fr 10fr;
	max-width:1600px;
	margin:5px auto;
	align-items:center;
	justify-items:center;
}
.grid_dd2 {
	display: grid;
  	grid-template-areas: 
  		"dd_elem1 dd_elem2 .";
	grid-template-columns: 3fr 1fr 8fr;
	max-width:1600px;
	margin:5px auto;
	align-items:center;
	justify-items:center;
}
.center_div {
	text-align: center;
}
.ctct_elem1 {
	grid-area: ctct_elem1;
}
.ctct_elem2 {
	grid-area: ctct_elem2;
}
.ctct_elem3 {
	grid-area: ctct_elem3;
}
.ctct_elem4 {
	grid-area: ctct_elem4;
}
.grid_contact {
	display: grid;
  	grid-template-areas: 
  		". ctct_elem1 ctct_elem2 ctct_elem3 ctct_elem4 .";
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
	max-width:1600px;
	margin:5px auto;
	align-items:center;
	justify-items:center;
}
.circular--square { border-radius: 50%; }
